# Paksa semua file PHP terdeteksi
*.php linguist-detectable=true

# Abaikan file HTML, CSS, JS agar tidak dihitung
*.html linguist-detectable=false
*.css linguist-detectable=false
*.js linguist-detectable=false

# Tandai folder vendor sebagai vendored (tidak dihitung)
vendor/* linguist-vendored

# Abaikan file konfigurasi atau dokumentasi
*.md linguist-detectable=false
*.txt linguist-detectable=false
*.json linguist-detectable=false
*.xml linguist-detectable=false
